<!doctype html>
<html>
  <!--        
      TODO : 
        -encorporate script.js into the app
        -styling / bootstrap stuff (if we want to get fancy)
        -allow for the selected languages (this.value on the select Element)
        -idk what else...its late
  -->
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script src="app/vendor/angular.min.js"></script>
  </head>
  <body ng-app='OurApp' style='text-align:center;'>
    <h2>The AngularJS Translator</h2><br>
    <textarea id="english"></textarea><br>
    <br>
    English to :
    <div ng-controller='Dropdown'>
      <select id="language">
          <option value="{{ lang.value }}" ng-repeat="lang in languages" ng-model="string" ng-click="">{{ lang.name }}</option>
      </select>
    <br><br>
    <textarea id="translation" readonly></textarea>
    <br>
    <button type="button" ng-href='#here' ng-click="t()">Translate</button>
    </div>
    

    <!-- Modules -->
    <script src="app/app.js"></script>

    <!-- Controllers -->
    <script src="app/controllers/Dropdown.js"></script>

    <!-- Services -->
    
  </body>
</html>
